<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>NC 数据字典 By QQ:209308043微信:yongyourj 欢迎私活联系</title>
</head>
<style>

</style>

<script type="application/javascript">
    window.agg =

        {{DataDictionaryAggVOJsonString}}


    ;
</script>

<body>
  <div id="app"></div>
<script type="text/javascript" src="manifest.js?e2b668db07b85682c92c"></script><script type="text/javascript" src="vendor.js?62ffcfdde6e3cf178e33"></script><script type="text/javascript" src="index.js?cac93ac6d1606712c57e"></script></body>

</html>