<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>NC 数据字典 By QQ:209308043微信:yongyourj 欢迎私活联系</title>
</head>
<style>

</style>

<script type="application/javascript">
    //{{'aggJsonString':'aggJsonString'}}
    window.agg =

        {{DataDictionaryAggVOJsonString}}


    ;
</script>

<body>
  <div id="app"></div>
<script type="text/javascript" src="manifest.js?7a4b55a2344a641ba7c6"></script><script type="text/javascript" src="vendor.js?62ffcfdde6e3cf178e33"></script><script type="text/javascript" src="index.js?9f536d3b1e4e08e6b328"></script></body>

</html>